* {
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/*  Centre la navigation  */
nav ul{
    display: flex;
    justify-content: center;
    width: 100%;

}
/*  Oon donne du style aux élements de la navigation    */
li{
    width: 7rem;
    padding: 10px;
    border: 1px solid rgb(181, 180, 180);
    display: flex;
    justify-content: center;
}
/* Au survol on change la couleur du background */
li:hover {
  background-color: rgb(181, 180, 180);
}
li a { 
  color: black;
}

  /* Ceci servira a cacher la checkbox, elle restera tout de même clicable */
  .burger {                  
    display: none;
  }

  /*  Si la checkbox est cliquée alors on affiche la liste desordonnée  */
  .burger:checked ~ ul {        
    display: flex;
}

/* Ceci est la représentation du bouton au lieu de laisser la checkbox seule, on modifie l'aspect du label */
  .hamburger {
    display:block;
    width: 3rem;
    height: 2.7rem;
    line-height: .1rem;
    border: 0.1rem solid black;
    padding: 0 .3rem .3rem;
  }
  
  .hamburger hr {
    color: #ddd;
    height: .1rem;
    border: 0;
    background: black;
    border: none;
  }
  
/*   Le burger ne s'affiche pas sur écran large   */
@media (min-device-width:768px) { .hamburger{display:none} }




/*   Le burger s'affiche sur petit écran    */

@media (max-device-width:767px) {

    nav ul{ 
        flex-direction:column; /*  la liste est en colonne sur petit écran */
        display: none;         /*  par défaut la ul n'est pas affichée, il faut cliquer pour l'afficher */
        margin:0;
        width:auto;  
     }
     
    }
