section {
  background-color: #88c1d0;
  width: 350px;
  height: 150px;
  margin: 5%;
}

body {
  display: flex;
}

@media screen and (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1600px) {
  body {
    display: flex;
    flex-direction: row;
  }
}
