section {
    background-color: #88c1d0;
    width: 50px;
    height: 50px;
    margin: 5%;
}

body {
    display: flex;
}

@media screen and (min-width: 1600px) {
    body {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 1599px) and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
    }
}